@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

body {

  margin: 0;
  padding: 0;
  background-color: white;
}

.filters {
  background: #00050a;
  color: white;
  height: auto;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  left: 0;
  right: 0;
  /* Agregado para que la barra ocupe todo el ancho */
  top: 0;
  position: fixed;
  z-index: 9999;
  max-width: 1200px;
  margin: 0 auto;

  /*FlexBox*/
  display: flex;
  justify-content: space-between;
  /* Alinea los elementos en los extremos */
  align-items: center;
}

#filter {
  font-weight: 15;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: black;
}

#order {
  font-weight: 15;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: black;
}

#orderad {
  font-weight: 15;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: black;
}


.seccionHome {
  display: flex;
  flex-direction: column;
  /* Alinea los elementos verticalmente */
  justify-content: center;
  /* Centra los elementos verticalmente */
  align-items: center;
  /* Centra los elementos horizontalmente */
  background-image: url(/img/bienvenida.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  max-width: 1900px;
  background-size: cover;
  /* Ajusta la imagen para cubrir todo el contenido visible */
  background-position: center;
  /* Centra la imagen de fondo */
}

.seccionHome h1 {
  text-align: center;
  /* Centra el texto horizontalmente */
  margin: 0;
  /* Elimina los márgenes por defecto */

}

.seccionHome p {
  text-align: center;
  /* Centra el texto horizontalmente */
  margin: 0;
  /* Elimina los márgenes por defecto */

}

h1 {

  font-family: "Cinzel", serif;
  font-weight: 600;
  font-size: 130px;
  color: #ffffff;
  text-shadow:
    1px 1px 2px rgb(255, 115, 1),
    0 0 1em rgb(243, 243, 243),
    0 0 0.2em rgb(255, 249, 247);
  padding: -60px;
}

.Subtitulo {
  font-family: 'Poppins', sans-serif;
  margin-top: -490px;
  font-size: 30px;
  color: #e0d3cd;
  text-shadow:
    1px 1px 2px rgb(255, 102, 0),
    0 0 1em rgb(255, 143, 6),
    0 0 0.2em rgb(248, 49, 49);
  white-space: nowrap;
  padding: 66px;
}


#Img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: none;
  /* Esto elimina el borde inferior */
  ;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  width: 400px;
  list-style: none;
  margin-left: 15%;
  margin-top: 10%;
  position: relative;
}

.PrimeraCara h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #ffffff;
  background-color: rgba(54, 52, 54, 0.671);
  padding: 10px;
  width: 380px;
  margin-top: 0%;
  border-bottom-left-radius: 30px;
  /* Borde redondeado en la esquina inferior izquierda */
  border-bottom-right-radius: 30px;
  /* Borde redondeado en la esquina inferior derecha */
}

.ViewChat {
  position: absolute;
  bottom: 30px;
  /* Ajusta la distancia desde la parte inferior de la primera cara */
  right: 10px;
  /* Ajusta la distancia desde el borde derecho de la primera cara */
  width: 50px;
  height: 50px;
  color: #2362AC;
  border: 2px solid #0056b3;
  /* Agrega un borde sólido de color naranja */
  border-radius: 100%;
}

.clearButton {
  font-family: 'Poppins', sans-serif;
  font-weight: 17;
  font-size: 17px;

}

.apikey {
  font-family: 'Poppins', sans-serif;
  font-weight: 17;
  font-size: 17px;
}



.errorpageImg {
  display: block;
  /* Asegura que la imagen sea un elemento de bloque */
  margin: 0 auto;
  /* Aplica márgenes automáticos a ambos lados para centrarla horizontalmente */
  max-width: 50%;
  /* Limita el ancho de la imagen al ancho del contenedor */
  padding: 5%;
}

.errorTextPage {
  position: absolute;
  top: 75%;
  /* Cambia este valor para ajustar la posición del texto */
  left: 50%;
  transform: translateX(-50%);
  font-family: "Cinzel", serif;
  font-size: 60px;
  color: #f1f1f1;
  text-shadow:
    1px 1px 2px rgb(1, 54, 58),
    0 0 1em rgb(3, 88, 94),
    0 0 0.2em rgb(49, 169, 248);
  white-space: nowrap;
}

/* Estilos de vista PrivateChat */
.container {
  margin-top: 5%;
  display: grid;
  grid-template-columns: min-content minmax(auto, 1fr); /* Ancho mínimo para el contenedor de imagen y ancho flexible para el contenedor de chat */
  margin-left: 200px;
}

/* estilos del grid layout*/
/* boton de cerrado*/
.cerrar {
  width: 50px;
  height: 30px;
  margin-top: -20px;
  background-color: #AECCEF;
  /* Color de fondo del botón */
  color: #000000;
  /* Color del texto */
  border: none;
  /* Elimina el borde */
  border-radius: 5px;
  /* Redondea las esquinas */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  font-size: 14px;
  /* Tamaño del texto */
  font-weight: bold;
  /* Negrita */
  text-transform: uppercase;
  /* Convierte el texto a mayúsculas */
  transition: background-color 0.3s ease;
  /* Transición suave al cambiar el color de fondo */
}



/* Contenedor de imagen */
.image-container {
  grid-column: 1 / 2; /* Ocupa la primera columna */
  background-color: #E0DFDF;
  box-shadow: 0 0 20px 10px #2362AC;
  border-bottom-left-radius: 2%;
  border-top-left-radius: 2%;
  width: 400px; /* Ancho reducido del contenedor de imagen */
}

/*Diseño de el parrafo de informacion*/
#informationBooks {
  color: #00050a;
  margin: 80px;
  width: 200px;
  height: 170px;
  text-align: left; /* Alinea el texto a la izquierda */
  text-justify: inter-word; /* Justifica el texto con puntos al final */
  font-size: calc(1vw + 1vh); /* Tamaño de fuente relativo al ancho y alto del contenedor */
  background-color: #AECCEF; /* Color de fondo para el párrafo */
  padding: 10px; /* Añade un espacio alrededor del contenido del párrafo */
  box-shadow: 0 0 20px 10px #2362AC; /* Sombra con desenfoque */
}

/*Diseño de solo imagen*/
#imagen {
  border-radius: 40%;
  width: 230px;
  height: 230px;
  margin: 40px;
  margin-left: 75px;
}

#informationBooks h4{ 
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #000000;
  text-shadow:
    1px 1px 2px rgb(0, 204, 255),
    0 0 1em rgb(6, 122, 255),
    0 0 0.2em rgb(69, 49, 248);
  text-align: center;
}

/* Estilo para el contenedor del chat */
.chat-container {
  grid-column: 2 / -1; /* Ocupa desde la segunda columna hasta el final */
  text-align: center;
  width: calc(100% - 200px); /* Ancho del contenedor de chat se calcula restando el ancho del contenedor de imagen */
  background-color: #E0DFDF;
  box-shadow: 0 0 10px 5px #2362AC;
  overflow-y: scroll;
}

.chat-messages {
  width: 100%; /* Asegura que el contenedor de mensajes ocupe todo el ancho */
}


/* Estilo para mensajes de la API (izquierda) */
.chat-messages .api-message {
  background-color: #AECCEF; /* Color de fondo para mensajes de la API */
  margin-right: 20px; /* Margen derecho para separar los mensajes */
  padding: 5px; /* Añadir relleno para un mejor aspecto visual */
  border-radius: 5px; /* Agregar bordes redondeados */
}

/* Estilo para mensajes del usuario (derecha) */
.chat-messages .user-message {
  background-color: #2362AC; /* Color de fondo para tus mensajes */
  margin-left: 20px; /* Margen izquierdo para separar los mensajes */
  padding: 5px; /* Añadir relleno para un mejor aspecto visual */
  border-radius: 5px; /* Agregar bordes redondeados */
}

/* Estilo para el contenedor del input y botón de enviar */
#input-container {
  grid-column: 2 / -1; /* Ocupa desde la segunda columna hasta el final */
  background-color: #2362AC;
  margin-top: -70px;
  height: 70px;
  width: calc(100% - 200px); /* Ancho del input-container se calcula restando el ancho del contenedor de imagen */
}

#message-input {
  position: relative;
  margin-top: 10px;
  background-color: #AECCEF;
  width: calc(100% - 100px); /* Ancho del input se calcula restando el ancho del botón de enviar */
  height: 50px;
  border-radius: 10px;
}

#send-button {
  border-radius: 20px;
  /* Redondea las esquinas del botón */
  background-color: #AECCEF;
  /* Azul vibrante */
  color: rgb(0, 0, 0);
  /* Texto en color blanco para mayor contraste */
  border: none;
  /* Elimina el borde del botón */
  padding: 10px 20px;
  /* Aumenta el espacio interior del botón */
  font-size: 16px;
  /* Tamaño del texto */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease;
  /* Agrega una transición suave al cambiar el color de fondo */
}

#send-button:hover {
  background-color: #0056b3;
  /* Color de fondo del botón al pasar el cursor */
}

.seccion3 {
  padding: 520px;
  background-repeat: no-repeat;
  /* Espacio alrededor del contenido */
  background-image: url(./img/footer.png);
  background-size: cover;
  /* Cubrir todo el fondo */
  background-position: center bottom;
  /* Posición de la imagen (centrada en el fondo y en la parte inferior) */
  background-attachment: scroll;
  /* Fijar la imagen al fondo */
  font-family: 'Poppins', sans-serif;
  text-align: start;
  font-weight: 30;
  font-size: 30px;
  color: #ffffff;
}

.container2 {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 600px;
  /* Ajusta la altura según sea necesario */
}

.content2 {
  width: 500px;
  /* Ancho del cuadrado */
  padding: 20px;
  /* Espaciado interno */
  background-color: #f3f3f3;
  /* Color de fondo del cuadrado */
  border-radius: 10px;
  /* Redondea las esquinas para formar un cuadrado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
}

/* Estilos para el título de la clave */
.keytitulo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  /* Color de texto */
  margin-bottom: 10px;
}

/* Estilos para el párrafo de descripción */
.keydescripcion {
  font-size: 16px;
  color: #666;
  /* Color de texto */
  margin-bottom: 20px;
}

/* Estilos para el campo de entrada de la clave */
.inputApi {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  /* Borde del campo */
  border-radius: 5px;
  /* Redondea las esquinas */
  margin-bottom: 10px;
}

/* Estilos para el botón de guardar */
.apiSaveButton {
  background-color: #2362AC;
  /* Color de fondo */
  color: #fff;
  /* Color de texto */
  border: none;
  /* Elimina el borde */
  padding: 10px 20px;
  /* Espaciado interno */
  border-radius: 5px;
  /* Redondea las esquinas */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  font-size: 16px;
}

.apiSaveButton:hover {
  background-color: #0056b3;
  /* Color de fondo al pasar el cursor */
}